pipeline/pipeline1.json
{
	"name": "pipeline1",
	"properties": {
		"activities": [
			{
				"name": "Get Token",
				"description": "Get bearer token from Idealista",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.00:05:00",
					"retry": 1,
					"retryIntervalInSeconds": 60,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://api.idealista.com/oauth/token",
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded;charset=UTF-8"
					},
					"body": "grant_type=client_credentials&scope=read",
					"disableCertValidation": false,
					"authentication": {
						"type": "Basic",
						"username": "2v911ue369f0ezc5o6giz4jvn4hdcn64",
						"password": {
							"type": "AzureKeyVaultSecret",
							"store": {
								"referenceName": "AzureKeyVault",
								"type": "LinkedServiceReference"
							},
							"secretName": "idealistaSECRET"
						}
					}
				}
			},
			{
				"name": "Copy REST Data to Blob",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "POST",
						"requestBody": "{}",
						"additionalHeaders": {
							"Content-Type": "Content-Type: multipart/form-data;",
							"Authorization": {
								"value": "@concat('Bearer',activity('Get Token').output.access_token)",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['propertyCode']"
								},
								"sink": {
									"ordinal": 1
								}
							},
							{
								"source": {
									"path": "['thumbnail']"
								},
								"sink": {
									"ordinal": 2
								}
							},
							{
								"source": {
									"path": "['externalReference']"
								},
								"sink": {
									"ordinal": 3
								}
							},
							{
								"source": {
									"path": "['numPhotos']"
								},
								"sink": {
									"ordinal": 4
								}
							},
							{
								"source": {
									"path": "['price']"
								},
								"sink": {
									"ordinal": 5
								}
							},
							{
								"source": {
									"path": "['propertyType']"
								},
								"sink": {
									"ordinal": 6
								}
							},
							{
								"source": {
									"path": "['operation']"
								},
								"sink": {
									"ordinal": 7
								}
							},
							{
								"source": {
									"path": "['size']"
								},
								"sink": {
									"ordinal": 8
								}
							},
							{
								"source": {
									"path": "['exterior']"
								},
								"sink": {
									"ordinal": 9
								}
							},
							{
								"source": {
									"path": "['rooms']"
								},
								"sink": {
									"ordinal": 10
								}
							},
							{
								"source": {
									"path": "['bathrooms']"
								},
								"sink": {
									"ordinal": 11
								}
							},
							{
								"source": {
									"path": "['address']"
								},
								"sink": {
									"ordinal": 12
								}
							},
							{
								"source": {
									"path": "['province']"
								},
								"sink": {
									"ordinal": 13
								}
							},
							{
								"source": {
									"path": "['municipality']"
								},
								"sink": {
									"ordinal": 14
								}
							},
							{
								"source": {
									"path": "['country']"
								},
								"sink": {
									"ordinal": 15
								}
							},
							{
								"source": {
									"path": "['latitude']"
								},
								"sink": {
									"ordinal": 16
								}
							},
							{
								"source": {
									"path": "['longitude']"
								},
								"sink": {
									"ordinal": 17
								}
							},
							{
								"source": {
									"path": "['showAddress']"
								},
								"sink": {
									"ordinal": 18
								}
							},
							{
								"source": {
									"path": "['url']"
								},
								"sink": {
									"ordinal": 19
								}
							},
							{
								"source": {
									"path": "['distance']"
								},
								"sink": {
									"ordinal": 20
								}
							},
							{
								"source": {
									"path": "['hasVideo']"
								},
								"sink": {
									"ordinal": 21
								}
							},
							{
								"source": {
									"path": "['status']"
								},
								"sink": {
									"ordinal": 22
								}
							},
							{
								"source": {
									"path": "['newDevelopment']"
								},
								"sink": {
									"ordinal": 23
								}
							},
							{
								"source": {
									"path": "['priceByArea']"
								},
								"sink": {
									"ordinal": 24
								}
							},
							{
								"source": {
									"path": "['detailedType']['typology']"
								},
								"sink": {
									"ordinal": 25
								}
							},
							{
								"source": {
									"path": "['detailedType']['subTypology']"
								},
								"sink": {
									"ordinal": 26
								}
							},
							{
								"source": {
									"path": "['suggestedTexts']['subtitle']"
								},
								"sink": {
									"ordinal": 27
								}
							},
							{
								"source": {
									"path": "['suggestedTexts']['title']"
								},
								"sink": {
									"ordinal": 28
								}
							},
							{
								"source": {
									"path": "['hasPlan']"
								},
								"sink": {
									"ordinal": 29
								}
							},
							{
								"source": {
									"path": "['has3DTour']"
								},
								"sink": {
									"ordinal": 30
								}
							},
							{
								"source": {
									"path": "['has360']"
								},
								"sink": {
									"ordinal": 31
								}
							},
							{
								"source": {
									"path": "['hasStaging']"
								},
								"sink": {
									"ordinal": 32
								}
							},
							{
								"source": {
									"path": "['topNewDevelopment']"
								},
								"sink": {
									"ordinal": 33
								}
							},
							{
								"source": {
									"path": "$['total']"
								},
								"sink": {
									"ordinal": 34
								}
							},
							{
								"source": {
									"path": "$['totalPages']"
								},
								"sink": {
									"ordinal": 35
								}
							},
							{
								"source": {
									"path": "$['actualPage']"
								},
								"sink": {
									"ordinal": 36
								}
							},
							{
								"source": {
									"path": "$['itemsPerPage']"
								},
								"sink": {
									"ordinal": 37
								}
							},
							{
								"source": {
									"path": "$['numPaginations']"
								},
								"sink": {
									"ordinal": 38
								}
							},
							{
								"source": {
									"path": "$['hiddenResults']"
								},
								"sink": {
									"ordinal": 39
								}
							},
							{
								"source": {
									"path": "$['summary']"
								},
								"sink": {
									"ordinal": 40
								}
							},
							{
								"source": {
									"path": "$['lowerRangePosition']"
								},
								"sink": {
									"ordinal": 41
								}
							},
							{
								"source": {
									"path": "$['upperRangePosition']"
								},
								"sink": {
									"ordinal": 42
								}
							},
							{
								"source": {
									"path": "$['paginable']"
								},
								"sink": {
									"ordinal": 43
								}
							}
						],
						"collectionReference": "$['elementList']"
					}
				},
				"inputs": [
					{
						"referenceName": "RestIdealista",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DelimitedText3",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"country": {
				"type": "String",
				"defaultValue": "pt"
			},
			"locale": {
				"type": "String",
				"defaultValue": "pt"
			},
			"language": {
				"type": "String",
				"defaultValue": "pt"
			},
			"max_items": {
				"type": "String",
				"defaultValue": "1"
			},
			"operation": {
				"type": "String",
				"defaultValue": "sale"
			},
			"property_type": {
				"type": "String",
				"defaultValue": "homes"
			},
			"order": {
				"type": "String",
				"defaultValue": "priceDown"
			},
			"center": {
				"type": "String",
				"defaultValue": "38.7252,-9.1498"
			},
			"distance": {
				"type": "String",
				"defaultValue": "60000"
			},
			"sort": {
				"type": "String",
				"defaultValue": "desc"
			},
			"bankOffer": {
				"type": "String",
				"defaultValue": "false"
			}
		},
		"folder": {
			"name": "Idealista"
		},
		"annotations": [],
		"lastPublishTime": "2021-08-24T17:42:34Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}